In [1]:
import os

In [4]:
os.getcwd() #filelocation

'C:\\Users\\admin\\Documents\\NareshIT\\python_sessions'

- we are using some inbulit function

In [ ]:
print()
type()
sum()
max()
min()
len()
len[]   # wrong

In [5]:
os.getcwd() #filelocation

'C:\\Users\\admin\\Documents\\NareshIT\\python_sessions'

- if we miss brackets
  
    - function
  
    - bound method

### Data types

- int

- float

- bool

- str

- complex

- range

- list

- tuple

- dict

- set

- frozenset

- bytes

- bytearray

- memoryview

### python basics
    - Variables

    - Data types

    - Type casting , how to convert one data type to another data type

    - print statements

    - basic codes

    - input , eval , round

    - packages or libraries  i.e.very important

    - conditional statements

    - exceptional handling

    - functions

    - for and while
### python core
    - strings

    - list 

        - list comprehension

    - tuple   # my students

    - dictionary

    - lambda functions

    - file handling

30days ==== learn

### python advanced

    - oops EDA ML


python + stats : EDA
python + ML : 
python + DL
python+ NLP
python+Genai

**integer**

In [7]:
number=100
type(number)

int

In [2]:
number1=100.25

***float***

In [4]:
number1=100.25
type(number1)

float

In [5]:
print(10e1)  # 10*10
print(10e2)  # 10*100
print(10e3)  # 10*1000

100.0
1000.0
10000.0

In [7]:
print(10e-1) # 10/10
print(10e-2) # 10/100
print(10e-3) # 10/1000

1.0
0.1
0.01

In [9]:
-1.91946214e-4

-0.000191946214

In [10]:
print(10e+1) 
print(10e+2) 
print(10e+3)

100.0
1000.0
10000.0

In [11]:
10e+1==10e1

True

In [12]:
10e+1==10e2

False

In [13]:
10e-1,10e+1,10e1

(1.0, 100.0, 100.0)

In [16]:
omkar=200

In [15]:
omkaaaar

NameError: name 'omkaaaar' is not defined

In [17]:
OMKAR=500

In [18]:
OMKAR

500

In [19]:
city='Hyderabad'
type(city)

str

In [22]:
"Mumbai"

'Mumbai'

In [23]:
print('Mumbai')

Mumbai

In [24]:
"Chennai"

'Chennai'

In [25]:
print('Chennai')

Chennai

In [26]:
print('hello')

hello

In [27]:
print(' hello')

 hello

In [28]:
print('hello   ')

hello

In [29]:
'hello   '

'hello   '

In [30]:
len('hello')

5

In [31]:
"Benagluru'

SyntaxError: unterminated string literal (detected at line 1) (4261755221.py, line 1)

In [32]:
"Benagluru"

'Benagluru'

In [2]:
len(' hello          ')

16

**Name not found error**

- Name means variable is not written before

- And we are trying to use that

- Check the variable name have you written before or not

In [34]:
str1='python'
str2="python"
str1,str2

('python', 'python')

In [35]:
str1='python'
str2="python"
print(str1)
print(str2)

python
python

In [36]:
print('Im studying at "NareshIT"') # which word you want to keep highlight  add ""

Im studying at "NareshIT"

In [37]:
print('Im studying at 'NareshIT'')5

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2709408773.py, line 1)

In [38]:
print("Im studying at 'NareshIT'")

Im studying at 'NareshIT'

In [39]:
print("Im studying at "NareshIT"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1316391732.py, line 1)

**Note**

- Entire string in single quotes

- Highlite the word in double quote vice versa

**triple quotes**

In [40]:
"""My name is python
Im 10 years old
I came from Hyderabad"""

'My name is python\nIm 10 years old\nI came from Hyderabad'

In [41]:
print("""My name is python
Im 10 years old
I came from Hyderabad""")

My name is python
Im 10 years old
I came from Hyderabad

**Doc string**

- We will write the information about python file

- We will write the information about functions

- To make user familier with our python code

- We will use triple quotes 

- It is nothing but a Multiline comments

- Never use triple quotes in a coding

- Triple quoutes means convey the inforamtion is called as **Doc string**

In [42]:
import os

In [43]:
''' hello ''' 
"hello"
'hello'
""" hello """

' hello '

In [2]:
import os
os.getcwd()   
# take your cursor inside the bracket
# do shift+tab

'C:\\Users\\admin\\Documents\\NareshIT\\python_sessions'

In [45]:
# Return a unicode string representing the current working directory( where is python code file)

In [1]:
import random
random.random()

0.14235303488827766

In [ ]:
random() -> x in the interval [0, 1)

In [4]:
import math
math.pow   #function is miss ()

TypeError: pow expected 2 arguments, got 0

In [6]:
import math
math.pow(2,3)
# if you miss bralets :function()
# sgift+tab :dict string conveying the information
#2**3

8.0

**Bollean**

- when u ask a qn to a Machine
    - True means yes i.e 1
    - True means ON
    - False is no i.e 0
    - False means Off

In [8]:
n1= True
type(n1)

bool

In [9]:
true="True"  # true variable   data type isstring
true=True    # boolean
true=10      # int
true=10.5    # float
false=true   #
false

10.5

In [15]:
true="True"  # true variable  string
true=True    # boolean
true=10      # int
false=true   #
false

10

In [16]:
true="True"  # true variable  string
true=True    # boolean
false=true   #
false

True

In [17]:
true="True"  # true variable  string
false=true   #
false

'True'


**List**

- array of elements represents in a square brackets

In [18]:
l=[10,20,30,40]
type(l)

list

In [2]:
l1=['Ramesh','Suresh','Sathish']
l2=[10,'Ramesh',10.5,True]
l3=[10,10,10]
l4=['Apple',[10,20,30]]
print(l1)
print(l2)
print(l3)
print(l4)

['Ramesh', 'Suresh', 'Sathish']
[10, 'Ramesh', 10.5, True]
[10, 10, 10]
['Apple', [10, 20, 30]]

In [20]:
l=(10,20,30,40) #() tuple will [] list 
type(l)

tuple

In [21]:
t1=('Ramesh','Suresh','Sathish')
t2=(10,'Ramesh',10.5,True)
t3=(10,10,10)
t4=('Apple',[10,20,30])
print(t1)
print(t2)
print(t3)
print(t4)

('Ramesh', 'Suresh', 'Sathish')
(10, 'Ramesh', 10.5, True)
(10, 10, 10)
('Apple', [10, 20, 30])

**Dictionary**

In [ ]:
[] : list
() : tuple
{} : ......?

In [24]:
n1={10,20,30}
type(n1)

set

- Its a Pair

- key and value pair

- seperated by :

In [25]:
d1={'wife':'husband'} # dictinary
s1={'wife','husband'} # set
d2={'key':'value'}  # dictionary

In [ ]:
 








-